<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
   <servlet>
  <servlet-name>add</servlet-name>
  <servlet-class>com.servlets.Add_Emp_Servlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
   <servlet-name>add</servlet-name>
   <url-pattern>/AddempServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>remove</servlet-name>
  <servlet-class>com.servlets.Delete_Emp</servlet-class>
  
  </servlet>
  <servlet-mapping>
   <servlet-name>remove</servlet-name>
   <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>edit</servlet-name>
  <servlet-class>com.servlets.Edit_Employee</servlet-class>
  
  </servlet>
  <servlet-mapping>
   <servlet-name>edit</servlet-name>
   <url-pattern>/editEmployee</url-pattern>
  </servlet-mapping>
  
</web-app>